@{
    ViewBag.Title = "About";
}
<h2 style="color:white">@ViewBag.Title</h2>

<p class="text-warning">
    Our company was founded in 2018 by a guy fed up with how hard it was to find a job. There simply wasn’t an easy way to get hired fast -- so he made one with Resume Builder.

    Resume Builder has become the leading free online resume builder for job seekers today. Our easy resume builder, cover letter builder , and online resource center have helped over 4,000,000 job hunters, professionals, and students become their own best candidate during their job search.
</p>
