@model IEnumerable<Resume_Builder.Models.Resume>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <!-- team -->
    <div class="container">
        <h3 class="sec-title">
            Choose one Resume Template
        </h3>
        <div class="row">
            @foreach(var resume in Model)
            {
                <div class="col-4" style="padding-bottom : 50px; ">
                    <div class="team-member">
                        <div class="team-img">
                            <img src="@resume.PreviewImagePath" width="600" height="400" alt="team member" class="img-fluid">
                            <div class="team-hover">
                                <div class="desk">
                                    <h4>@resume.Name</h4>
                                    <p>@resume.Description.</p>
                                </div>
                                <div class="s-link">
                                    @Html.ActionLink("Build Resume", "FillDetails", "Home", new { id = resume.Id },null)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <!-- //team -->      
    </div>